################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/OptFlowCpp/bin
/src/OptFlowCpp/packages
.vs/
/src/OptFlowCpp/test
/src/OptFlowCpp/.vscode
/src/OptFlowCpp/console_ui/computed_flow.flo
/src/OptFlowCpp/console_ui/computed_img.png
